---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

.post-meta{
    color: $grey-color;
}

.post-tags{
    margin-right: 10px;
}

.post-tags::before{
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f02c"; 
    padding-right: 5px;
}

.post-date{
    margin-right: 10px;
}

.post-date::before{
    font: normal normal normal 14px/1 FontAwesome;
    padding-right: 5px;
    content: "\f073";
}