---
layout: compress
---
<!DOCTYPE html>
<html lang="en-us">
  {% include head.html %}

  <body>

    <noscript id="deferred-styles">
      <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface">
    </noscript>
    <script>
      var loadDeferredStyles = function() {
        var addStylesNode = document.getElementById("deferred-styles");
        var replacement = document.createElement("div");
        replacement.innerHTML = addStylesNode.textContent;
        document.body.appendChild(replacement);
        addStylesNode.parentElement.removeChild(addStylesNode);
      };
      var raf = requestAnimationFrame || mozRequestAnimationFrame ||
          webkitRequestAnimationFrame || msRequestAnimationFrame;
      if (raf) raf(function() { window.setTimeout(loadDeferredStyles, 0); });
      else window.addEventListener('load', loadDeferredStyles);
    </script>
    
    {% include sidebar.html %}

    <div class="content container">
      {{ content }}
    </div>
    
    {% include analytics.html %}
    
    <script id="dsq-count-scr" src="//hemanshubhojak-blog.disqus.com/count.js" async></script>
  </body>
</html>